.ctrl__label {
    display: block;

    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 5px;

    color: #8c94a8;
    font-size: 10px;
}

.ctrl__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 46px;
    border: 2px solid #d52b1e;
    border-radius: 10px;

    color: #d52b1e;

    font-size: 14px;
    font-weight: 700;

    outline: none;

    transition: color 0.1s, background-color 0.1s;
}

.ctrl__button:hover {
    border-color: #d52b1e;

    color: white;

    background-color: #d52b1e;

    box-shadow: none;

    transition: color 0.1s, background-color 0.1s;
}

.ctrl__button_red {
    color: white;

    background-color: #d52b1e;
    box-shadow: 0 6px 20px 0 rgba(255, 0, 0, 0.4);
}

.ctrl__button_form {
    height: 40px;
    margin: 30px 0 0 auto;
    padding: 0 20px;

    border-color: #8c94a8;

    color: #8c94a8;
}

.ctrl__button_form:hover {
    border-color: #8c94a8;

    background-color: #8c94a8;
}

.ctrl__input {
    display: block;

    height: 40px;
    padding: 0 16px;
    border: 1px solid #e3e7ef;
    border-radius: 10px;

    color: #222d4c;
    font-family: inherit;
    font-size: 12px;

    background-color: white;

    outline: none;
}

.ctrl__input::placeholder {
    color: #b2bfd1;
}

.ctrl__input-container {
    position: relative;
}

input.ctrl__input_error {
    border-color: #d52b1e;

    color: #d52b1e;
}

label.ctrl__input_error {
    position: absolute;

    display: block;

    margin-top: 2px;
    padding-left: 5px;

    color: #d52b1e;
    font-size: 10px;
}

.ctrl__checkbox-container {
    position: relative;
}

.ctrl__checkbox-container>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.ctrl__checkbox-container>p::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 12px;
    height: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #007bfb;
    border-radius: 3px;

    color: #007bfb;
    font-size: 9px;

    background: linear-gradient(rgba(0, 123, 251, 0.1), rgba(0, 123, 251, 0.3));
}

.ctrl__checkbox-container>input:checked+p::before {
    color: white;
    background-color: #007bfb;
    background-image: url("/images/controls/check.svg");
    background-position: center;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
}

.popup_show {
    display: flex;
}

.popup__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: none;

    background-color: black;
    opacity: 0;
}

.popup__overlay_show {
    display: block;
}

.popup__window {
    z-index: 110;

    display: none;

    margin: auto;
    padding: 10px 30px 20px 30px;
    border-radius: 10px;

    background-color: #d0d0d0;

    opacity: 0;
}

.popup__window_show {
    display: block;
}


