.documents {
    padding-top: 50px;
    padding-bottom: 50px;
}

.documents__title {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.55;
}

.documents__group {
    margin-top: 60px;
}

.documents__subtitle {
    padding-left: 20px;

    color: #212121;
    font-size: 24px;
    line-height: 1.55;
}

.documents__list {
    margin-top: 25px;

    list-style-type: none;
}

.documents__item {
    border: 1px solid #f5f7f8;
    border-radius: 10px;

    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

.documents__item:not(:first-child) {
    margin-top: 20px;
}

.documents__item-link {
    display: block;
    padding: 10px 100px 15px 20px;

    transition: background-color 0.25s;

    background-image: url("../images/pdf.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right 20px center;
}

.documents__item-link:hover {
    border-color: #f0f0f0;
    background-color: #f0f0f0;

    transition: background-color 0.25s;
}

.documents__item-date {
    font-size: 14px;
}

.documents__item-title {
    margin-top: 5px;

    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 1199px) {
    .documents__title {
        font-size: 37px;
    }

    .documents__group {
        margin-top: 50px;
    }

    .documents__subtitle {

        font-size: 22px;
    }
}

@media (max-width: 959px) {
    .documents {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .documents__title {
        font-size: 29px;
    }

    .documents__group {
        margin-top: 45px;
    }

    .documents__subtitle {
        font-size: 22px;
    }

    .documents__item-link {
        padding: 10px 80px 15px 20px;

        background-size: 45px 45px;
        background-position: right 15px center;
    }

    .documents__item-date {
        font-size: 12px;
    }

    .documents__item-title {
        margin-top: 4px;

        font-size: 16px;
    }
}

@media (max-width: 639px) {
    .documents {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .documents__title {
        font-size: 23px;
    }

    .documents__group {
        margin-top: 30px;
    }

    .documents__subtitle {
        font-size: 20px;
    }

    .documents__list {
        margin-top: 20px;
    }
}

@media (max-width: 479px) {
    .documents__title {
        font-size: 15px;
    }

    .documents__subtitle {
        font-size: 14px;
    }

    .documents__item-link {
        padding: 10px 60px 15px 20px;
        background-position: right 10px center;
    }

    .documents__item-date {
        font-size: 11px;
    }

    .documents__item-title {
        font-size: 13px;
    }
}
