.footer {
    display: flex;
    align-items: center;
    min-height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #3b3b3b;
}

.footer__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-top: -5px;

    color: white;
    font-size: 12px;
}

.footer__politic {
    margin-top: 5px;
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 5px;
}
