.politic {
    padding-top: 50px;
    padding-bottom: 50px;
}

.politic__title {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.55;
}

.politic__content {
    margin-top: 50px;
}

.politic__text {
}