.stat {
    position: relative;
    z-index: -20;

    background-color: #f5f7f8;
    padding-top: 92px;
    padding-bottom: 106px;
}

.stat__title {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
}

.stat__subtitle {
    margin-top: 46px;

    font-size: 18px;
    font-weight: 300;
}

.stat__props {
    display: flex;
    justify-content: space-between;
    margin: 69px 0 0 -55px;
}

.stat__prop {
    width: 25%;
    padding-left: 55px;
}

.stat__prop-value {
    font-size: 32px;
    font-weight: 700;
}

.stat__prop-value_text {
    font-size: 14px;
    text-transform: uppercase;
}

.stat__prop-line {
    height: 3px;
    margin: 19px 0 20px 0;

    background-color: white;
}

.stat__prop-name {
    font-size: 18px;
    font-weight: 300;
}

.stat__analitics-title {
    margin-top: 107px;

    font-size: 24px;
    font-weight: 700;
}

.stat__analitics {
    margin-top: 44px;
    padding: 21px 40px 18px 40px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.stat__analitics-item {
    display: flex;
    align-items: flex-end;
}

.stat__analitics-name {
    padding-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.05;
}

.stat__analitics-name_given {
    color: #1976d2;
}

.stat__analitics-name_return {
    color: #3fa44f;
}

.stat__analitics-name_delay {
    color: #fd9721;
}

.stat__analitics-name_non-return {
    color: #cac3cf;
}

.stat__analitics-value {
    color: #212121;
    font-size: 48px;
    font-weight: 700;
}

.stat__analitics-text {
    font-size: 14px;
    text-transform: uppercase;
}

.stat__chart {
    margin-top: 18px;
}

.stat__chart-row {
    position: relative;

    display: flex;
    width: 100%;
    height: 36px;
}

.stat__chart-row:not(:first-child) {
    margin-top: 10px;
}

.stat__chart-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;

    padding-left: 12px;
    border-radius: 10px;

    color: white;
    font-size: 24px;
    font-weight: 700;
}

.stat__chart-item_given {
    right: 0;

    background-color: #1976d2;
}

.stat__chart-item_return {
    background-color: #3fa44f;
}

.stat__chart-item_delay {
    background-color: #fd9721;
}

.stat__chart-item_non-return {
    right: 0;

    background-color: #cac3cf;
}

.stat__analitics-container {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

.stat__text {
    background-color: white;
}

.stat__text-container {
    max-width: 540px;
    padding: 133px 0 135px 0;
}

.stat__text-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.15;
}

.stat__text-content {
    margin-top: 30px;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
}


